


// .header .col {
//   background-color:lightgrey;
// }

/* roboto-100 - latin */

.tbl{
 
 font-weight: 100;
 font-size: 15px;
}
.servers{
 font-weight: lighter;
 font-size: 15px;
 
}

.node{
  height: 60px;
  text-align: center;
  padding-top:20px; 
   border: thin solid white !important;
}

.lastrow{
 border-right: thin solid #ccc!important; 
}
.transaction{
  font-size: 12px;
  text-align: center;
 border-left: thin solid #ccc!important; 
border-top: thin solid #ccc!important;
border-bottom: thin solid #ccc!important;


}

.transaction-repeat{
  font-size: 12px;
  text-align: center;
  // border-top: thin solid #ccc!important;
border-bottom: thin solid #ccc!important;
border-left: thin solid #ccc!important;
border-top: none !important;

}

.up{
  background-color: greenyellow;
  color: black;
}

.down{
  background-color: red;
  color:white;
 

}

ion-app.md [padding], ion-app.md [padding] .scroll-content {
     padding: 0 16px 16px !important;
}


.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}

.paddedloader{
  padding-top: 10px;
}

.loader {
  background: #f20d49 !important;
  border-radius: 100px;
  height: 10px;
}
.loader p {
  text-align: center;
  color: white !important;
  text-align: center;
}

ion-header{
   font-weight: 100 !important;
}
.see{
  
  background: blue;
  
}


.toolbar-title{
  font-weight: 100 !important;
}
.toolbar-md {
    padding: 4px;
    min-height: 30px !important;
}

.btmPad{
margin-bottom: 10px !important;
}
.scroll-content{
  margin-bottom: 0 !important;
}
