
<ion-header >

  <ion-navbar color="primary">
    <ion-title>
      i.Sec Dashboard
    </ion-title>
  </ion-navbar>


</ion-header>
-->
  

<ion-content padding>
 

    <ion-grid class="servers">
  <ion-row>
    <ion-col class="node up">
      Local Bank Server
    </ion-col>
    <ion-col class="node down">
     Cloud Server
    </ion-col>
    <ion-col class="node up">
     USSD Server
    </ion-col>
    <ion-col class="node up">
     Push Server
    </ion-col>
  </ion-row>
</ion-grid>



 <ion-grid class="">
  <ion-row class="">
    <ion-col class="transaction" col-4>
      Transaction ID
    </ion-col>
    <ion-col class="transaction">
      Local Bank Server
    </ion-col>
    <ion-col class="transaction">
     Cloud Server
    </ion-col>
    <ion-col class="transaction">
     USSD Server
    </ion-col>
     <ion-col class="transaction">
    Push Server
    </ion-col>
    <ion-col class="transaction lastrow" >
     Status
    </ion-col>
  </ion-row>
  <ion-row class="" *ngFor="let data of datas">
    <ion-col class="transaction-repeat" col-4>
      {{data.transactionId}}
    </ion-col>
    <ion-col class="transaction-repeat">
     {{data.cloudServer}}<ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" color="success"></ion-icon>
    </ion-col>
    <ion-col class="transaction-repeat">
    {{data.localBankServer}}<ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" color="success"></ion-icon>
    </ion-col>
    <ion-col class="transaction-repeat">
    {{data.pushServer}}<ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" color="success"></ion-icon>
    </ion-col>
    <ion-col class="transaction-repeat">
     {{data.ussdServer}}<ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" color="success"></ion-icon>
    </ion-col>
    <ion-col class="transaction-repeat lastrow" >

       <div class="item item-text-wrap">
				<div class="loader" style="width: 100">
				
				</div>
			</div>
          
    </ion-col>
  </ion-row>
</ion-grid>
    
    
   <!--<div class="row header tbl">
       
          <div class="col">Transaction ID</div>
          <div class="col">Cloud Server</div>
          <div class="col">Local Bank Server</div>
          <div class="col">Push Server</div>
          <div class="col">Ussd Server</div>
          <div class="col">Status</div>
        </div>-->
    
        <!--<div class="row" *ngFor="let data of datas">
          <div class="col">{{data.transactionId}}</div>
            <div class="col">{{data.cloudServer}}</div>
          <div class="col">{{data.localBankServer}}</div>
          <div class="col">{{data.pushServer}}</div>
          <div class="col">{{data.ussdServer}}</div>
          <div class="col paddedloader">
            <div class="item item-text-wrap">
				<div class="loader" style="width: 100">
				
				</div>
			</div>
            </div>
        </div>-->
    
    
    
    
    
</ion-content>

<!--

 <ion-header-bar class="bar-stable" >
      <h1 class="title">Service Provider Details</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row header">
          <div class="col">Utility Company Name</div>
          <div class="col">Service Code</div>
          <div class="col">Pay Limit</div>
          <div class="col">Account Number to Use</div>
          <div class="col"></div>
        </div>
        <div class="row" ng-repeat="data in ctrl.data">
          <div class="col">{{data.name}}</div>
          <div class="col">{{data.code}}</div>
          <div class="col">LK {{data.limit}}</div>
          <div class="col">{{data.account}}</div>
          <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div>
        </div>
    </ion-content>
-->
